body {
  font-family: sans-serif;;
  margin: 0;
  padding: 0;
  color: #000000;
  background: #ffffff;
}

@media screen and (max-width: 480px)　{

.header {
  width: 100%;
  height: 80px;
  background-color:#ffffff;
  color: #000000;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex; /* flexboxを作る */
  align-items: center; /* 上下中央に揃える */
  justify-content: space-between; /* 両端に配置 */
  position: fixed;
  top: 0;
}


.header-logo {
  font-size: 50px;
  margin: 20px 40px;
}

.header-logo a{
  color: #000000;
  font-size: 30px;
  text-decoration: none;
}


.main {
  padding-top: 300px;
  padding-bottom: auto;
  padding-right: auto;
  padding-left: auto;
}


